.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 60px;
  justify-content: space-between;

}
.logo {
  display: inline-block;
  color: MediumAquamarine;

}
nav{
  display: inline-block;

}
nav li{
  display: inline-block;
  list-style: none;

}
nav li a{
  color: black;
  margin: 15px;

}
